/*
 * Style rules for printing a page from the browser.  The approach is very
 * simple: hide elements and disable background colors that are unimportant for
 * a printed page.
 *
 *
 * Author: Kyle Getz
 */

html,
div#header {
  background-color: transparent;
}

div#menuBar,
div.submenuPanel,
div#relatedPages,
div#rios,
div#footer {
  display: none;
}

div#content {
  border: 0px;
}
