/*
 * styles-cert.css
 * Style rules for the SSL Certificate popup window.
 *
 * Author: Don Tillman
 *
 */


body {
  background: #8d9699;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}
.hidden { display: none; }

.sslCertificate {
  background-color: #eeeeee;
  margin: 12px auto;
  white-space: nowrap;
  width: 480px;
  border-collapse: collapse;
  padding: 0;
  border: 2px solid #444444;
}
.sslCertificate th {
  background-color: #586379;
  color: #ffffff;
  padding: 3px;
}
.sslCertificate td {
  vertical-align: top;
  padding: 2px 4px;
}
.sslCertificate td.certSection {
  font-weight: bold;
  color: #444444;
  padding: 5px 0 0 2px;
}
.config {
  background-color: #eeeeee;
  margin: 12px;
  padding: 6px 12px;
  border: 2px solid #444444;
}

/* Switches between Details and PEM mode. */
#modeSwitcher {
  background-color: #EEE;
  width: 466px;
  margin: 5px auto 0 auto;
  padding: 5px;
  border: 2px solid #444;
  display: block;
}
/* PEM panel */
#pemMode {
  background-color: #EEE;
  width: 456px; /* 456px + 2 x 2px border + 2 x 10px L-R padding = 480px */
  margin: 10px auto;
  padding: 0 10px 10px 10px;
  border: 2px solid #444;
}
#pemMode .cert_pem {
  font-family: Lucida Console, monospace;
  font-size: 10px;
  white-space: pre;
  padding: 4px 4px 4px 18px;
}